# ignore config
/config

# ignore dependencies
/node_modules

# ignore production
/build

# ignore scripts
/scripts

# ignore service worker
/src/*ServiceWorker.js

# ignore test files
# **/__tests__/**
# **/.test.*