@import '../../theme/colors';

.TopBar {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  background-color: $color-neutralLighter;
  overflow: hidden;
  display: flex;
  align-items: center;

  &__logo {
    height: 100%;

    &:focus {
      outline: 1px solid $color-neutralLight;
    }

    &__image {
      height: 32px;
      margin: 0 8px;
      user-select: none;
    }
  }
}